.red, .blue {
  padding: 30px 20px;
  color: white;
  margin: 30px auto;
  width: 300px;
  font-weight: bold;
  text-align: center;
}

.red {
  background-color: red;
}

.blue{
  background-color: blue;
}